<!-- start custom footer snippets -->
<a href="/sitemap/">Sitemap</a>
<br>
<div class="page__footer">
Any opinions I state on this site are my own and are neither affiliated with nor endorsed by any employer, institution, person, or organization.  Presentation of statements made by others (such as in page comments), references and/or links to such statements or content of others does not constitute my endorsement; these statements are solely affiliated with their respective authors.
</div>
<!-- end custom footer snippets -->
