<!-- start custom footer snippets -->
<a href="/sitemap/">Sitemap</a>
<p class="page__footer-copyright" style="font-size: 0.75em; margin-top: 0.5em;">
  Any opinions I state on this site or on linked media or content are my own and are neither affiliated with nor endorsed by any employer, institution, person, or organization. Presentation of statements made by others (such as in page comments or in audio or video segments), references and/or links to such statements or content of others do not constitute my endorsement; these statements are solely affiliated with their respective authors. Content is provided for reference without any warranty as to its correctness or suitability for a given purpose.
</p>
<!-- end custom footer snippets -->
