---
layout: default
---

<!-- Adapted from https://raw.githubusercontent.com/DS4PS/course-template/master/_layouts/index.html -->

<!DOCTYPE html>

<head>
  <style> 
    td {
      padding-left: 8px;
    }
    .fa{
      /* Adjust these values accordingly */
      height: 27px;
      padding-right: 8px;
    }
    .button{
        padding-right: 8px;
    }
  </style>
</head>


<body>

<div>
        <h2>{{ page.title }}</h2>
</div>

{% if page.course_description %}
{{ page.course_description }}
{% endif %}


<h2>Course Info</h2> 

  
<table id="index" class="table table-condensed" cellspacing="10">
<thead>
<tr>
<th><span></span></th>
<th><span></span></th>
</tr>
</thead>

<tbody>

{% if page.info.course_title %}
<tr>
<td>Course Title</td>
<td><b> {{page.info.course_title}} </b></td>
</tr>
{% endif %}

{% if page.info.course_number %}
<tr>
<td>Course Number</td>
<td><b> {{page.info.course_number}} </b></td>
</tr>
{% endif %}

{% if page.permalink %}
<tr>
<td>Course Webpage</td>
<td><b> <a href="{{page.permalink}}">
{% if page.instructors and page.instructors[0].webpage_url %}
  {{page.instructors[0].webpage_url}}
{% endif %}
{{page.permalink}}
</a> </b></td>
</tr>
{% endif %}

{% if page.info.course_start_end_dates %}
<tr>
<td> Course Start-End </td>
<td><b> {{page.info.course_start_end_dates }} </b></td>
</tr>
{% endif %}

{% if page.info.course_prerequipages %}
<tr>
<td>Course Prerequipages</td>
<td><b> {{page.info.course_prerequipages }} </b></td>
</tr>
{% endif %}

{% if page.info.class_meets_when %}
<tr>
<td>Class Timings</td>
<td><b> {{page.info.class_meets_when }} </b></td>
</tr>
{% endif %}

{% if page.info.class_meets_where %}
<tr>
<td>Class Location</td>
<td><b> {{page.info.class_meets_where }} </b></td>
</tr>
{% endif %}

</tbody>
</table>






<h2>Course Instructors and Office Hours</h2>

<table id="index" class="table table-condensed" cellspacing="10">
<thead>
<tr>
<th><span></span></th>
<th><span></span></th>
<th><span></span></th>
<th><span></span></th>
<th><span></span></th>
</tr>
</thead>

<tbody>

{% for item in page.instructors %}

<tr>
<td>
{% if item.webpage_url %}
  <a href="{{item.webpage_url}}">
{% endif %}
{%if item.picture %}
  <img src="{{ item.picture }}"></img><br>
{% endif %}

{{item.name}}
</a><br>
{{item.title}}
</td>
<td>{% if item.phone %}{{item.phone}}{% endif %}</td>
<td> {% if item.email %}<a href="mailto:{{item.email}}" title="email"><i id="general" class="fa fa-envelope fa-2x" ></i></a> {% endif %}</td>
<td>{% if item.office_hours_times %}{{item.office_hours_times}}{% endif %}</td>
<td>{% if item.office_hours_location %}{{item.office_hours_location}}{% endif %}</td>
</tr>

{% endfor %}

</tbody>
</table>





<h2>Textbooks</h2>
Bold Textbooks are Required, Italicized are Recommended or Supplemental

<table  id="index" class="table table-condensed" cellspacing="10">
<thead>
<tr>
<th><span></span></th>
<th><span></span></th>
<th><span></span></th>
<th><span></span></th>
</tr>
</thead>

<tbody>
{% for item in page.textbooks %}
<tr align="left">
<td align="left">
{% if item.title %}
  {% if item.link %}
    <a onclick="location.href='{{ item.link }}'"> <i id="general" class="fa fa-book fa-2x"></i></button><a href="{{ item.link }}">
  {% endif %}

  {% if item.isrequired %}
    <b>
  {% else %}
    <i>
  {% endif %}
  
  {{item.title}}
  
  {% if item.isrequired %}
    </b>
  {% else %}
    </i>
  {% endif %}
  
  {% if item.link %}
    </a>
  {% endif %}
{% endif %}
</td>
  
<td>
{% if item.authors %}
  {% if item.isrequired %}
    <b>
  {% else %}
    <i>
  {% endif %}
  
  {{item.authors}}
  
  {% if item.isrequired %}
    </b>
  {% else %}
    </i>
  {% endif %}
{% endif %}
</td>

<td>
{% if item.edition %}
  {% if item.isrequired %}
    <b>
  {% else %}
    <i>
  {% endif %}
  
  {{item.edition}}
  
  {% if item.isrequired %}
    </b>
  {% else %}
    </i>
  {% endif %}
{% endif %}
</td>

<td>
{% if item.isbn %}
  {% if item.isrequired %}
    <b>
  {% else %}
    <i>
  {% endif %}
  
  {{item.isbn}}
  
  {% if item.isrequired %}
    </b>
  {% else %}
    </i>
  {% endif %}
{% endif %}
</td>

</tr>
{% endfor %}
</tbody>
</table>

<h2>Course Objectives</h2>
{% for item in page.objectives %}
{{ item }}
{% endfor %}

<h2>Grade Breakdown</h2>
<table  id="index" class="table table-condensed" cellspacing="10">
<thead>
<tr>
<th><span></span></th>
<th><span></span></th>
</tr>
</thead>

<tbody>
{% for item in page.grade_breakdown %}
<tr align="left">
<td align="left">
{{ item.category }}
</td>
<td align="left">
{{ item.weight }}
</td>
</tr>
{% endfor %}
</table>


<h2>Letter Grades</h2>
<table  id="index" class="table table-condensed" cellspacing="10">
<thead>
<tr>
<th><span></span></th>
<th><span></span></th>
</tr>
</thead>

<tbody>
{% for item in page.letter_grades %}
<tr align="left">
<td align="left">
{{ item.letter }}
</td>
<td align="left">
{{ item.range }}
</td>
</tr>
{% endfor %}
</table>



<h2>Course Schedule</h2>
<table  id="index" class="table table-condensed" cellspacing="10">
<thead>
<tr>
<th><span></span></th>
<th><span></span></th>
<th><span></span></th>
<th><span></span></th>
<th><span></span></th>
<th><span></span></th>
</tr>
</thead>

<tbody>
{% for item in page.schedule %}
<tr align="left">
<td align="left">
Week {{ item.week }}
</td>
<td align="left">
{{ item.date }}
</td>
<td align="left">
{% if item.link %}<a href="{{item.link}}">{% endif %}{{ item.title }}{% if item.link %}</a>{% endif %}
</td>
<td align="left">
{% if item.readings %}
<ul>
{% endif %}
{% for reading in item.readings %}
<li>{% if reading.link %}<a href="{{reading.link}}">{% endif %}{{reading.title}}{% if reading.link %}</a>{% endif %}</li>
{% endfor %}
{% if item.readings %}
</ul>
{% endif %}
</td>
<td align="left">
{% if item.deliverables %}
<ul>
{% endif %}
{% for deliverable in item.deliverables %}
<li>{% if deliverable.link %}<a href="{{deliverable.link}}">{% endif %}{{deliverable.title}}{% if deliverable.link %}</a>{% endif %}</li>
{% endfor %}
{% if item.deliverables %}
</ul>
{% endif %}
</td>
</tr>
{% endfor %}
</table>

<hr>



{{content}}



</body>
</html>